body{
  background-color: rgb(243, 243, 243)
}

.centralizado {
  max-width: 500px;
  margin: 0 auto;
  @media (max-width: 768px) {
    max-width: 95%;
  }
}

.texto-centralizado {
  text-align: justify;
  max-width: 80%;
  margin: 0 auto;
  padding: 30px;
  @media (max-width: 768px) {
    max-width: 100%;
  }
}

.texto-centralizado h1 {
  text-align: center;
}

.texto-centralizado h2 {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.content {
  @media (max-width: 768px) {
    padding: 0 20px;
  }
}
.video {
  width: 650px;
  height: 350px;
  margin: 0 auto;
  @media (max-width: 768px) {
    width: 100%;
    height: 100%;
  }
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
